div.routesContentMenu {
    display: flex;
    margin: 32px 11.46vw 0;
    justify-content: space-between;
    color: #363636;

    @media (min-width: 1440px) and (max-width: 2560px) {
        width: 1110px;
        margin: 0 auto;
        margin-top: 32px;
    }

    @media (max-width: 768px) {
        justify-content: flex-start;
        gap: 3.47vw;
        align-items: center;
        margin: 32px 0 0 8.68vw;
    }

    @media (min-width: 769px) and (max-width: 1023px) {
        justify-content: flex-start;
        gap: 3.47vw;
        align-items: center;
        margin: 32px 0 0 8.68vw;
    }

    @media (max-width: 320px) {
        margin-left: 5.63vw;
    }

    @media (min-width: 321px) and (max-width: 767px) {
        margin-left: 5.63vw;
    }
}